- set_subtitle 'Unasnwered Questions'
- admin_sidebar

%h1 Question Admin

- if @questions.empty?
  %h2 No questions need to be answered at this time
-else
  %h2 Unanswered Questions
  %section.question-list
    - @questions.each do |question|
      = render partial: 'question_admin', locals: {question: question}

- unless @spam_questions.empty?
  %h2 Spam Questions
  %section.question-list
    - @spam_questions.each do |question|
      = render partial: 'question_admin', locals: {question: question}

