%ul.nav.nav-list
  %li.nav-header Site Administration Tools
  %li{class: active_if(controller: 'admin', action: 'index')}
    %a{href: admin_path}
      Admin Summary
  %li{class: active_if(controller: 'questions')}
    %a{href: questions_path}
      Answer Questions
  %li{class: active_if(controller: 'admin',action: 'search_report')}
    %a{href: search_report_path}
      Frequent Search Terms
  %li{class: active_if(controller: 'admin',action: 'user_report')}
    %a{href: user_report_path}
      Administer Users
  %li= link_to 'Sign Out'.html_safe, destroy_user_session_path, method: :delete
  %li.nav-header External Tools
  %li
    %a{href: 'https://www.google.com/analytics/web/?hl=en&pli=1#dashboard/default/a8222754w63381535p65015451/'}
      Google Analytics: Site Traffic Analysis
  %li
    %a{href: 'https://github.com/shammond42/higgins-catalog/issues?labels=&milestone=&page=1&state=open'}
      Github: Report an issue or bug
  %li.nav-header Technical Monitoring Tools (Steve Only)
  %li
    %a Airbrake Error Monitoring
  %li
    %a New Relic Performance Monitoring
  %li
    %a Linode Applicaiton Hosting