- set_subtitle 'About'
- content_for(:sidebar) do 
  = render partial: 'artifacts/search_options'

:ruby
  page_text = <<-EOS
  h1. Explore the greatest collection of arms and armor in the Western Hemisphere

  During the Industrial Revolution, John Higgins' passion for steel and romance for chivalry led him to acquire, piece by piece, this great collection. He then built the world's first steel and glass building in Worcester, MA to house his collection.

  That building housed the collection for 83 years. Now this wonderful collection is getting a new home at the Worcester Art Museum (WAM).

  Browse the 2,000 artifacts in the collection or search for artifacts of particular interest. If you have a question, go ahead an ask using the form under each artifact. A museum staff member will try to answer.

  While in transition, the collection is not available to the public. However, on Friday, March 28th, a new exhibit _knights_ will open at the WAM with some of the best pieces from the collection. The WAM will construct a permanent exhibit for the collection over the next couple of years.

  In the meantime, enjoy browsing the virtual collection!

  h2. About the Application

  I developed the core of this application in about 48-hours as part of the 2012 "Rails Rumble":http://railsrumble.com contest. As you might expect from that origin, the application is written in Ruby on Rails. A number of other technologies including Postgres and ElasticSearch are also used.

  The application, but not the Higgins collection data, is available under the MIT open source license. If you are a developer and want to contribute to the Higgins catalog project, you can find source code and other details on the "Github project page":https://github.com/shammond42/higgins-catalog. If you use this in another context please send me a message through Github and let me know!

  h2. About the Author

  !>/assets/avatar-body.png(Steven Hammond)!

  This app arose out of my three great passions.

  * Since childhood I have been in love with stories of knights and fantasy that led to an interest in the real thing.
  * I also love to give back to my community, particularly in ways that help education. In addition to this project I serve on my local School Committee and I am a volunteer educator for NASA.
  * Somebody once said, "Don't be a writer unless you can't not write." That's how I feel about software. I can't not code, and a project like this gives me a chance to build and create.

  If you want to see more of my work, I blog, occasionally, on the following sites.

  Enjoy,
  _Steven Hammond_

  h2. Dedicated to Jay Levitt

  !>/assets/jay.jpg(Jay Levitt)!

  Jay was a good friend and a brilliant engineer. He had plans to participate in this project with me, but unfortunately that didn't happen. Jay passed away on Oct. 9, 2012 just days before the Rails Rumble started.

  Jay was instrumental in bringing the Internet to millions of people through his work at AOL. I met him when he joined "PatientsLikeMe":http://patientslikeme.com to, as he put it, "change the world again." The whole company misses you, Jay.

  These two videos reflect two different parts of Jay's personality. He shared them with me, and I share them with you.
  EOS

= textilize(page_text)

:plain
  <iframe width="560" height="315" src="http://www.youtube.com/embed/Uh4DGUNWmiU" frameborder="0" allowfullscreen></iframe>

  <iframe width="420" height="315" src="http://www.youtube.com/embed/1wg_L0wGTyA" frameborder="0" allowfullscreen></iframe>


  