- set_subtitle 'About'
- content_for(:sidebar) do 
  = render partial: 'artifacts/search_options'

:textile
  h1. Explore the only dedicated museum of armor in the Western Hemisphere

  During the Industrial Revolution, John Higgins' passion for steel and romance for chivalry led him to acquire, piece by piece, this great collection. He then built the world's first steel and glass building in Worcester, MA to house his collection.

  This app combines my own love of knights and fantasy, with my passion for the ongoing Information Revolution to bring this great collection to you. Explore the wonders of a different time as this great collection moves from one revolution to the next.

  Enjoy,
  _Steven Hammond_

  h2. Project Goals

  This project is a complete rewrite of the "existing catalog":http://users.wpi.edu/~jforgeng/CollectionIQP/searchform.pl. There were several objectives:

  # Win the "Rails Rumble":http://railsrumble.com!
  # Greatly Improve the search capabilities of the site
  # Provide a responsive design so that patrons can explore the database from within the museum
  # Provide some engagement features

  h2. Short Term Next Steps

  If there is interest in keeping this app alive, then there are a few things remaining to make this *production ready*.

  - User Administration := Right now, users need to be added by hand on the server. I need to create a page for adding and deleting users. There also needs to be a way for users to change their passwords and a _forgot password_ link needs to be added to the sign in page. This will require connection to some sort of email service.
  - Integration with the other sites := There are lots of ways this could go. The content of the rest of the Virtual Armory Site could be merged with this app, possibly by adding a CMS (Content Management System) so the content could be easily maintained by Museum staff. This site could be style more like the virtual armory, but that would make it hard to keep the responsive aspects of this design. This site could be maintained as its own entity separate from the other sites.
  - Text Review and Updates := The text around the site, including this page needs to be changed to museum approved copy. The dedication page probably needs to be removed. A privacy policy and terms of use need to be added.
  - Productionizing := There are a few basic any app needs to take care of as it moves to production. The app is already collection usage statitis on Google Analytics, and error reporing. The database should probably be rebuilt to clean up test questions and a backup regimen needs to be established. Finally, need to make sure that Google is properly indexing the catalog so that people can find this wonderful resource.

  h2. Medium Term Enhancements
  
  Once fully operation, there are a handful of features and improvements that I would like to add.

  - Automated Email to Questioners := I somebody's question is answered it would be nice if we automatically send them an email with that answer in it.
  - Twitter or Facebook Integration := When a question is particularly good a Tweet or Facebook post could be generated with a link to the artifact.
  - Reporting on Searching := It might be interesting to the museum to record the searches that people do on the site and be able to report on them. This might provide some insight into what the public finds interesting.
  - Mobile Performance Tuning := Performance is not bad, but there are some tweaks that could make the experience, especially on mobile, even better.

  h3. Longer Term features
  
  - API := I have ready about an ArchaeoML format that is used to exchange Archaeological data. However, I could not find an actual specification for this. It might be useful if the artifacts in the catalog could be
    retrieved in this format and used by researchers everywhere.
  - Catalog Management := It would not be too hard to take this first step and turn it into a full replacement for the access database that is currently used to maintain the catalog. This would allow researchers to take advantage of the improved search capabilities, browser/mobile accessibility and allow a much broader range of features to be added.
