- set_subtitle 'Dedication'
- content_for(:sidebar) do 
  = render partial: 'artifacts/search_options'

%h1.dedication Deicated to <br />Jay Levitt<br />Who Left Us Too Soon<br />1971 &ndash; 10/7/2012

= image_tag '/assets/jay.jpg', style: 'margin-left: auto; margin-right: auto; display: block'

:textile
  Jay was a good friend and a brilliant engineer. He had hopes to participate in this project, but unfortunately that didn't happen. He was instrumental in bringing the Internet to millions of people. I met him when he joined "PatientsLikeMe":http://patientslikeme.com to, as he put it, "change the world again?"

  These two videos reflect two different parts of Jay's personality. He shared them with me, and I share them with you.

:plain
  <iframe width="560" height="315" src="http://www.youtube.com/embed/Uh4DGUNWmiU" frameborder="0" allowfullscreen></iframe>

  <iframe width="420" height="315" src="http://www.youtube.com/embed/1wg_L0wGTyA" frameborder="0" allowfullscreen></iframe>