%section
  %h2 Details

  %dl.nav.nav-list
    - display_fields.each do |item|
      - if@artifact.send(item[:field]).present?
        %dt= item[:label]
        %dd= @artifact.send(item[:field])
  = return_link