.accordion#accordion1
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{href: '#collapseOne', data: {toggle: 'collapse', parent: '#accordion1'}} Temporal Facets
    #collapseOne.accordion-body.collapse.in
      .accordion-inner
        %ul.nav.nav-list
          %li= temporal_facet_menu_item(params, nil, -1, '1 BCE and Earlier')
          - [[0, 499], [500, 999], [1000,1199], [1200,1399],[1400,1599],[1600,1799]].each do |date_range|
            %li= temporal_facet_menu_item(params, date_range[0], date_range[1])
          %li=temporal_facet_menu_item(params, 1800, nil, '1800 &ndash; Present'.html_safe)
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{href: '#collapseTwo', data: {toggle: 'collapse', parent: '#accordion1'}} Canned Searches
    #collapseTwo.accordion-body.collapse.in
      .accordion-inner
        %ul.nav.nav-list
          %li Browse by Accession Number
          %li Top 250 Items
          %li On Display in the Museum